.wrapper {
  display: flex;
  text-align: center;
}

.button {
  margin: 0 10px;
  text-decoration: none;
  width: 182px;
  height: 40px;
  color: #042D48;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 0 0 4px rgba(35, 35, 35, 0.2);
  padding:10px 0;
}

.button:hover, .active {
  background-color: #042D48;
  color: white;
}
