.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.color1 {
  background-color: #8FA1AD;
}

.color2 {
  background-color: #9B7DF0;
}

.color3 {
  background-color: #FF7CA9;
}

.color5 {
  background-color: #FFE073;
}

.color6 {
  background-color: #92B2F3;
}

.DoctorConfig {
  margin: 6px -6px;
}
